footer
	.container
		.row
			.col-xs-5
				
			.col-xs-7.text-right.footer-text
				

script(src='js/lib/jquery.min.js')
script(src='js/lib/jquery.maskedinput.min.js')
script(src='js/lib/jquery-ui.min.js')
script(src='js/lib/jquery.blockUI.js')
script(src="js/lib/jquery.jqplot.js")
script(src="js/lib/jqplot.pieRenderer.min.js")
script(src="js/lib/jqplot.highlighter.min.js")
script(src="js/lib/jqplot.cursor.min.js")
script(src="js/lib/jqplot.categoryAxisRenderer.min.js")
script(src="js/lib/jqplot.canvasTextRenderer.min.js")
script(src="js/lib/jqplot.enhancedLegendRenderer.js")
script(src="js/lib/jqplot.canvasAxisLabelRenderer.min.js")
script(src="js/lib/jqplot.categoryAxisRenderer.min.js")
script(src="js/lib/jqplot.pointLabels.min.js")
script(src="js/lib/jqplot.canvasAxisTickRenderer.min.js")
script(src='js/lib/angular.min.js')
script(src='js/lib/angular-resource.min.js')
script(src='js/lib/angular-route.min.js')
script(src='js/lib/underscore.js')
script(src='js/lib/bootstrap.min.js')
script(src='js/lib/jquery.placeholder.js')
script(src='js/lib/angular-ui-select2/select2.js')
script(src='js/lib/angular-ui-chart/chart.js')
script(src='js/lib/d3/d3.min.js')
script(src='js/lib/d3pie/d3pie.min.js')
script(src='js/script.js')
