meta(charset="UTF-8")
meta(http-equiv='content-language', content='pt-BR')
meta(http-equiv='Pragma', content='no-cache')
meta(name='description', content='')

link(rel="icon", type="image/ico", href="img/favicon.ico")
link(href='css/lib/jquery-ui.min.css', rel="stylesheet")
link(href='css/main.css', rel="stylesheet")
//- uma biblioteca de icones que agrega mais icones no bootstrap e nao atrapalaha o funcionamento dele
link(href='css/lib/font-awesome/css/font-awesome.min.css', rel="stylesheet")

title
