!!! 5
html(lang='pt-br')
	
	head
		include head
	
	body(ng-app="appModule", ng-controller = "AppCtrl")

		div#page-wrap

			header


				


			
			div.container(role='main')

				div.row

					article.col-xs-10

						div(ng-view)

		include footer
