
div(ng-controller="InicialCtrl")
	div.row
		div.col-md-6.col-lg-6
			div.form-group
				label.control-label Partida:
				select.form-control(ng-model="partida", name="partida", ng-options="p.id as p.identificadorPartida for p in partidas",ng-change="atualizarGraficoGeral()")
					option(value="")
				label.control-label Estatisca de Mortes:
				div#pie1
					
	div.row
		div.col-md-6.col-lg-6
				label.control-label Arma mais Usada pelo melhor jogador
				br
				label.control-label Nome Jogador: {{arma.nomeJogador}}
				br
				label.control-label Nome Arma: {{arma.nome}}
				br
				label.control-label Qtd uso: {{arma.qtd}}
				

	div.row
		div.col-md-6.col-lg-6
			div.form-group
				label.control-label Jogador:
				select.form-control(ng-model="jogador", name="jogador", ng-options="j.id as j.nome for j in jogadores",ng-change="vizualizarDadosJogador()")
					option(value="")
				br
				label.control-label Nome: {{dadosJogador.nome}}
				br
				label.control-label Awards: {{dadosJogador.awards}}
				br
				label.control-label Streak: {{streak}}

